.box {
    display: inline-block;
    width: 200px;
    height: 103px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

.selected {
    border: 2px solid blue;
    box-shadow: 1px 2px 1px grey;
}

.box img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.primary_color {
    height: 10px;
    width: 80px;
    margin: 20px 0;
}

.button_color {
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.template_design_box {
    height: 100px;
}

.preview_box {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid black;
}

.preview_header {
    border: none;
    padding: none;
    height: 200px;
    background-color: aqua;
    color: black;
}